@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url(me.jpg);
    overflow: hidden;

}
h2 {
    font-weight: 800;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
}



.clock {
    display: flex;
    font-size: 1.4rem;
    margin: 20px;
    background-color:beige;
    border-radius: 10px;
    opacity: .75;
}

.clock div {
    margin: 20px;
}

.clock span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 0.5px #000;
}

#hour, #min, #sec {
    font-size: 3.5rem;
}

.text {
    font-size: 0.9rem;
    text-transform: uppercase;
}